<div class="col-main">
  <div class="main-wrap" id="main-wrap">

    <div class="topic-content">
      {{#topic}}
      <div class="topics">
        <h3 data-id="{{id}}" data-max="{{tocMax}}" data-min="{{tocMin}}">{{tocTitle}} </h3>
      </div>
      {{/topic}}
    </div>

    <div class="user-content" id="user-content">
      <ul class="selected connected ks-clear">
      {{#users}}
        {{#selected}}
        <!-- <li data-id="{{id}}" data-selected="1"><a href="#" class="user-name">{{uName}}</a></li> -->
        <li data-id="{{id}}" data-selected="1">
          <label for="user-{{id}}">{{uName}}</label>
          <input id="user-{{id}}" name="users" type="checkbox" checked="checked"/>
        </li> 
        {{/selected}}
      {{/users}}
      </ul>
      <ul class="unselected connected ks-clear">
      {{#users}}
        {{^selected}}
        <li data-selected="0" data-id="{{id}}">
          <label for="user-{{id}}">{{uName}}</label>
          <input id="user-{{id}}" name="users" type="checkbox" />
        </li>
        {{/selected}}
      {{/users}}
      </ul>
    </div>

    <div class="status-bar">
      <div id="progressbar"></div>
      <span class="finished">一共<em>{{topicNum}}</em>道题目，正在<em>{{step}}</em>题。</span>
      <span class="opration-bar">
      {{#stepBack}}
      <a href="#answer/{{backUrl}}" class="back">上一步</a>
      {{/stepBack}}
      {{#stepNext}}
        <a href="#answer/{{nextUrl}}" class="next">下一步</a>
      {{/stepNext}}
      </span>
    </div>

  </div>
</div>

<div class="col-sub">
  <div class="sub-wrap">
    <div class="left-nav">
      {{#test}}
      <h3>{{tTitle}}</h3>
      <div class="box-topic-describe">{{{tDescribe}}}</div>
      {{/test}}
    </div>
  </div>
</div>
