<div class="editTopic">
  <form action="#" method="post">
    <div class="item">
    	<label for="tocTitle">项目题目</label>
      <input type="text" id="tocTitle" name="tocTitle" value="{{tocTitle}}"/>
    </div>
    <div class="item">
    	<label for="tocMax">最多选项数</label>
      <input type="text" id="tocMax" name="tocMax" value="{{tocMax}}"/>
    </div>
    <div class="item">
    	<label for="tocMin">最少选项数</label>
      <input type="text" id="tocMin" name="tocMin" value="{{tocMin}}"/>
    </div>
    <div class="item button">
      <a href="#" class="submit">完成</a>
      <a href="#" class="reset">重置</a>
      <a href="#topics/lists/" class="list">回到问卷</a>
    </div>
  </form>
</div>
