<div class="accordion">
  <table class="test-list">
    <thead>
      <tr>
        <th>标题</th>
        <th>描述</th>
        <th>操作</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th colspan="3">
          <a href="#tests/addNew" class="add-items">添加项目</a>
        </th>
      </tr>
    </tfoot>

    <tbody>
    {{#collection}}
      <tr class="test-item-{{id}}">
        <td class="tTitle">{{tTitle}}</td>
        <td class="tDescribe">{{{tDescribe}}}</td>
        <td class="opration">
          <a href="#tests/{{id}}" class="edit">修改</a>
          <a href="#" data-id="{{id}}" class="del">删除</a>
          <a href="#topics/lists/{{id}}" class="addItems">查看</a>
        </td>
      </tr>
    {{/collection}}
    </tbody>
  </table>
  
</div>

