  <!--头部-->
  <div id="header">
    <div id="logo">{{title}}</div>
    <p><em id="welcome-words">{{welcome}}</em></p>

  </div>
  <!--头部-->

  <!--主体部分开始-->

  <div id="content" class="layout grid-s240m0">

    <div class="col-main">
      <div class="main-wrap" id="main-wrap">
        {{#tests}}
        <div class="article">
          <h2 class="title">{{tTitle}}</h2>
          <div class="article-content">{{{tDescribe}}}</div>
        </div>
        {{/tests}}
      </div>
    </div>

    <div class="col-sub">
      <div class="sub-wrap">
        <div class="left-nav">
          {{#aside}}
          <dt>{{title}}</dt>
          {{#items}}
          <dd>{{{section}}}</dd>
          {{/items}}
          {{/aside}}
        </div>
      </div>
    </div>

  </div>
  <!--主体部分-->

  <div id="footer">
    <p class="copyright">
    {{#nav}}
      {{^first}}|{{/first}}<a href="{{url}}">{{text}}</a>
    {{/nav}} &copy;<a href="{{copylink}}" target="_blank">{{owner}}</a>&sdot; {{copyyear}}</p>
  </div>
