/*
 * 后台公共样式
 * 主要包括页面头部左边和底部样式
 */
a{
  color:#A9725D;
  color:#448378;
  color:chocolate;
  color: #6678B1;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
a:visited{
  /*color:#A9725D;*/
}
a:focus{
}

/*
 * 修复ie6显示的bug
 */
body{
  width:866px;
  margin:0 auto;
}
.w866 #header,.w866 #content,.w866 #footer{
  position:relative;
  width:100%;
}
#header{
}
#content{
}
#content .col-main{
}
.grid-s240m0 .col-sub{
  margin-left: -227px;
  width: 225px;
  background-color:#F2D9A3;
  border:solid 1px #A88768;
  background-color:#F4F8FD;
  border:solid 1px #D2DBF4;
  zoom:1;
}
.grid-s240m0 .main-wrap{
  margin-right:227px;
  border-top:solid 1px #D2DBF4;
  padding: 1em;
}

/**
 * 头部导航设置
 */
#header{
  font-size:14px;
  padding: 0.5em 0;
  text-align: right;
}
#logo{
  font-size:16px;
  font-weight:bold;
}
#top-nav{
  position:absolute;
  left : 1em;
  bottom:3px;
}
#top-nav li{
  float:left;
  padding-right: 4px;
}

.left-nav{
  margin:3em 0 4em 3em;
}
.left-nav a{
  line-height:2em;
}
.left-nav dd{
  padding-left:1em;
}
.left-nav dt{
  font-weight:bold;
  line-height:3em;
  color:#333;
}
.copyright{
  border-top:1px dotted;
  line-height:2em;
  text-align:center;
  margin-top:2em;
}

#v-card{
  border-bottom:2px solid #666666;
  border-top:2px solid #666666;
  padding:1em 0;
}

.v-title{
  float:left;
  font-size:14px;
  line-height:2.5em;
}
.v-bar{
  float:right;
}
.v-bar input{
  padding:5px 14px;
}

ol{
  list-style:decimal inside none;
}
ol li{
}
