form .item label, form .u-types { display: block; width: 5em; float: left; }
.editTopic .item label { width: 6em; }

form .item, form .type-radios { padding-bottom: 6px; }
.item input { padding: 4px; width: 40em; }
.item textarea { width: 40em; height: 10em; }
.ui-tips .ui-icon { display: inline-block; *display: inline; *zoom: 1; vertical-align: text-bottom; }

.opration-bar { position: absolute; }
.opration-bar a { display: inline-block; }
.pop .item input { width: 22em; }
